html,
body {
  margin:0;
	padding:0;
  width: 100%;
  height: 100%;
  height: -webkit-fill-available;
  min-height: -webkit-fill-available;
  overflow: hidden;
  background-color: #e7e7e5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 0px;
  left: 0px;
  z-index: 10;
}

#media {
  opacity: 0.7;
  position: absolute;
  top: 5%;
  left: 50%;
  transform-origin: top left;
  z-index: 200;
}

#media>div>div {
  width: 19.2vw !important;
  height: 10.8vw !important;
}

#webfontPreloading {
  font-family: RocknRoll One;
  color: transparent;
  z-index: -100;
  font-size: 8px;
}

#dummyButton {
  position: absolute;
  background-color: #ffffff;
  font-size: 5vmin;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  z-index: 150;
}

* {
  box-sizing: border-box;
}